@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.App {
  text-align: center;
  background-color: #FEF283;
  /* cursor:none!important; */
}

div.cursorDiv {
  backdrop-filter: invert(1);
  transition: width 0.25s, height 0.25s;
  pointer-events: none;
  /* border-style: solid;
  border-width: 1px;
  border-color: #616161; */
}

span.artistName {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
}

span.songName {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
